<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bkm_pos_serviceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="bkm_pos_serviceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ikea.magiclick.net/_ws/bkm-pos-service.asmx"
                binding="basicHttpBinding" bindingConfiguration="bkm_pos_serviceSoap"
                contract="asd.bkm_pos_serviceSoap" name="bkm_pos_serviceSoap" />
        </client>
    </system.serviceModel>
</configuration>